#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
