.nav-container {
  background: #030712;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 75%;
  min-height: 75px;
}

.nav-contents {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.nav-contents a,
.nav-contents a:visited {
  color: #cbd5e1;
  text-decoration: none;
}

.nav-contents a:hover {
  color: #334155;
}

.active-link {
  color: #cbd5e1;
}
